@font-face {
  font-family: 'Rubik';
  src: url('../assets/fonts/RubikGlitch-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RubikMoonrocks';
  src: url('../assets/fonts/RubikMoonrocks-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Frijole';
  src: url('../assets/fonts/Frijole-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}